/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}
/* конец кода сброса стилей браузера */


/* основные стили */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #424242;
}

.container {
	max-width: 1054px;
	margin: 0 auto;
	padding: 0	15px;
}

/* конец основных стилей */


/* стили contacts */

.contacts {
	width: 100%;
	background-color: #f0f2f4;
	border-bottom: 1px solid #e2e2e2;

}

.contacts__wrapper {    
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	height: 42px;
}

.contacts__item {
	display: flex;	
	align-items: center;
	padding: 0 20px;
}

.contacts__item:first-child {
	border-right: 1px solid #e2e2e2;
}

.contacts__item:last-child {
	padding: 0 0 0 5px;
}

.contacts__link {
	color: #424242;
	text-decoration: none;
}

.contacts__link-blue {
	color: #1287bf;
	font-size: 28px;
}

/* конец стилей contacts */



/* стили header */

.header__wrapper {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	height: 131px;
}

.header__item {
	display: flex;
	align-items: center;
}

.header__logoItem {
	display: inline-block;
}

.header__logoItem:first-child {
	font-size: 57px;
	color: #dd2a24;
}

.header_logoMainText {
	font-size: 37px;
	font-weight: 700;
	padding-left: 24px;
}

.header_logoSubText {
	font-weight: 300;
	padding-left: 11px;
}

.header__link {
	display: inline-block;
	margin: 0 15px;
	color: #424242;
	text-decoration: none;
	font-weight: 700;
	transition: color .1s linear;
}

.header__link:hover {
	color: #de2b24;
}

.header__link:first-child {
	margin-left: 0;
}

.header__link:last-child {
	margin-right: 0;
	padding: 9px 23px;
	color: #fff;
	background-color: #de2b24;
	border-radius: 3px;
	transition: opacity .1s linear;
}

.header__link:last-child:hover {
	opacity: .8;
}

.header__navToggle {	
	display: none;
	background-color: transparent;
	border: none;
	color: #de2b24;
	font-size: 32px;
	cursor: pointer;
	height: 35px;
}

/* конец стилей header */



/* стили weProviding */

.weProviding {
	height: 590px;
	display: flex;
	background: url(../img/weProviding-bg.png) no-repeat;
	background-size: cover;
	background-position: center bottom;
	justify-content: center;
	align-items: center;
}

.weProviding__wrapper {
	color: #fff;
	text-align: center;
}

.weProviding__mainText {
	margin-bottom: 15px;
	font-size: 48px;
	font-weight: 700;
}

.weProviding__subText {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 40px;
}

.weProviding__freeConcultation {
	display: inline-block;
	padding: 19px 40px;
	color: #fff;
	background-color: #f8cd53;
	font-size: 24px;
	font-weight: 700;	
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 6px;
	transition: opacity .1s linear;
}

.weProviding__freeConcultation:hover {
	opacity: .8;
}

/* конец стилей weProviding */




/* стили aboutUs*/

.aboutUs {
	background-color: #fff;
	text-align: center;
	
	padding-top: 100px;
}

.aboutUs__title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
}

.aboutUs__subtitle {
	font-size: 20px;
	font-weight: 300;
}

.aboutUs__subtitle::after {
	content: "";
	display: block;
	margin: 15px auto 45px;
	width: 47px;
	height: 5px;
	background-color: #424242;
}

.aboutUs__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.aboutUs__item {
	width: 33%;
	padding-left: 50px;
	padding-right: 50px;
}

.aboutUs__logoPic {
	display: block;
	margin: 0 auto;
	width: 35%;
}

.aboutUs__logo {
	display: block;
	width: 100%;
	height: auto;
}

 .aboutUs__header {	 
	margin-top: 29px;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 400;	
	display: block;
	min-height: 15%;
 }

.aboutUs__text {
	margin-bottom: 120px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
 }

/* конец стилей aboutUs */




/* стили ourApproach*/

.ourApproach {
	background-color: #f3f3f3;
	text-align: center;
	padding: 90px 0 96px;
}

.ourApproach__title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
}

.ourApproach__subtitle {
	font-size: 20px;
	font-weight: 300;
}

.ourApproach__subtitle::after {
	content: "";
	display: block;
	margin: 15px auto 45px;
	width: 47px;
	height: 5px;
	background-color: #424242;
}

.ourApproach__item {
	background-color: #fff;
	margin-top: 40px;
	box-shadow: 0 0 3px #e5e5e5;
	/* display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative; */
}


.ourApproach__picture {
	width: 38.28%;
}

.ourApproach__item:nth-child(odd) .ourApproach__picture {
	float: left;
}

.ourApproach__item:nth-child(even) .ourApproach__picture {
	float: right;
}

.ourApproach__photo {
	display: block;
	width: 100%;
	height: auto;
}

.ourApproach__photoSmall {	
	display: none;
	width: 100%;
	height: auto;
}

.ourApproach__description {
	width: 100%;
	padding-top: 6.5%;
}

.ourApproach__item:nth-child(odd) .ourApproach__description {
	padding-left: 42.18%;
	padding-right: 70px;
	text-align: left;
}

.ourApproach__item:nth-child(even) .ourApproach__description {
	padding-left: 70px;
	padding-right: 42.18%;
	text-align: right;
}

.ourApproach__description::after {
	content: "";
	display: block;
	clear: both;
}

.ourApproach__header {
	font-size: 18px;
	margin-bottom: 12px;
}

.ourApproach__item:nth-child(even) .ourApproach__header {
	padding-right: 15px;
}

.ourApproach__text {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}

/* конец стилей ourApproach*/




/* стили ourWork*/

.ourWork {
	padding: 110px 0 130px;
	background-color: #de2b24;
	text-align: center;
}

.ourWork__title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #fff;
}

.ourWork__subtitle {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.ourWork__subtitle::after {
	content: "";
	display: block;
	margin: 15px auto 45px;
	width: 47px;
	height: 5px;
	background-color: #fff;
}

.ourWork__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.ourWork__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	background-color: #f35e59;
}

.ourWork__logo {
	font-size: 36px;
	color: #f9afac;
	margin-bottom: 20px;
}

.ourWork__header {
	font-size: 26px;
	font-weight: 700;
	color: #fff;
}

.ourWork__text {
	font-size: 16px;
	font-weight: 700;
	color: #fff;	
}

.ourWork__photo {
	width: 25%;
}


.ourWork__link {
	display: block;
	background-color: #fff;
}

.ourWork__img {
	display: block;
	width: 100%;
	height: auto;
	transition: opacity .1s linear;
}


.ourWork__img:hover {
	opacity: .9;
}

/* конец стилей ourWork*/




/* стили freeConsultation*/


.freeConsultation {
	padding: 100px 0 110px;
	background-color: #1287bf;
	text-align: center;
}

.freeConsultation__title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #fff;
}

.freeConsultation__subtitle {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.freeConsultation__showForm {
	margin: 0 auto;
	width: 64px;
}

.freeConsultation__showButton {
	cursor: pointer;
	display: block;
	width: 100%;
	height: auto;
}

.freeConsultation__wrapper {
	/* скрытие поля ввода */
	/* display: none; */
}

.freeConsultation__rectangle {
	content: "";
	display: block;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2em 2em 2em 2em;
	border-color: transparent transparent #fff transparent;
}


.freeConsultation__formField {
	position: relative;
	margin: 0 auto;
	width: 66.67%;
	background-color: #fff;

}

.freeConsultation__closeForm {
	width: 45px;
	position: absolute;
	top: -21px;
	right: -15px;
}

.freeConsultation__closeButton {
	cursor: pointer;
	display: block;
	width: 100%;
	height: auto;
}

.freeConsultation__text {
	padding: 50px 70px 40px;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
}

.freeConsultation__formItem {
	margin: 0 auto;
	width: 65%;
	padding: 18px 21px;
	margin-bottom: 10px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 300;
}

.freeConsultation__formItem:focus {
	border: 1px solid #1287bf;
	box-shadow: 0 0 3px #b5d9eb;
}

.freeConsultation__submit {
	cursor: pointer;
	margin-top: 35px;
	margin-bottom: 68px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #de2b24;
	padding: 17px 30px;
	border-radius: 3px;
	border: none;
	color: #fff;
	transition: opacity .1s linear;
}

.freeConsultation__submit:hover {
	opacity: .8;
}

/* конец стилей freeConsultation*/




/* стили getInTouch*/

.getInTouch {
	padding: 90px 0 85px;
	background-color: #2a2a2a;
	text-align: center;
}

.getInTouch__title {
	font-size: 29px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #fff;
}

.getInTouch__wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 29px 37% 36px;
}

.getInTouch__item {
	width: 50px;
	height: 50px;
	border: 2px solid #515151;
	border-radius: 3px;
	transition: border-color .1s linear;
}

.getInTouch__item:hover {
	border-color: #de2b24;
}

.getInTouch__link {
	display: block;
	height: 100%;
	color: #fff;
	font-size: 23px;
	text-decoration: none;
}

.getInTouch__logo {	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%; 
}

.getInTouch__text {
	font-size: 14px;
	color: #cecece;
	margin-bottom: 34px;
}

.getInTouch__subscribe {
	margin: 0 auto;
	width: 66.67%;
}

.getInTouch__emailForm {
	margin-bottom: 27px;
}

.getInTouch__form {
	width: 100%;
	padding: 23px;
	color: #8f8f8f;
	font-size: 14px;
	background-color: #515151;
	border: none;
}

.getInTouch__subscribeButton {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	background-color: #2a2a2a;
	border: 2px solid #515151;
	border-radius: 3px;
	padding: 18px 35px;
	cursor: pointer;
}

/* конец стилей getInTouch*/




/* стили footer*/

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #515151;
}

.footer__copyright {
	color: #9c9c9c;
	font-size: 14px;
	font-weight: 400;
	padding: 26px 0;
}


/* конец стилей footer*/




/* ================================= */
/* ======= АДАПТИВНЫЕ СТИЛИ ======== */
/* ================================= */


/* ===СТИЛИ ДЛЯ ПЛАНШЕТОВ LANDSCAPE=== */

@media(max-width: 990px) {

	/* header */

	.header__logoItem:first-child {
		font-size: 45px;
	}

	.header_logoMainText {
		font-size: 30px;
		padding-left: 18px;
	}

	.header_logoSubText {
		font-size: 12px;
	}

	.header__link {
		font-size: 14px;
		margin: 0 9px;
	}


	
	/* weProviding */

	.weProviding {
		height: 500px;
	}

	.weProviding__mainText {
		font-size: 40px;
	}

	.weProviding__subText {
		font-size: 25px;
	}

	.weProviding__freeConcultation {
		padding: 17px 38px;
		font-size: 20px;
	}
	

	
	/* aboutUs */

	.aboutUs {
		padding-top: 70px;
	}

	.aboutUs__title {
		font-size: 32px
	}

	.aboutUs__subtitle {
		font-size: 18px;
	}

	.aboutUs__subtitle::after {
		margin: 15px auto 35px;
		height: 3px;
	}

	.aboutUs__item {
		padding-left: 40px;
		padding-right: 40px;
	}

	.aboutUs__header {
		margin-top: 20px;
		font-size: 18px;
	}

	.aboutUs__text {
		margin-bottom: 70px;
	}

	.aboutUs__header {
		display: block;
		min-height: 15%;
	}


	/* ourApproach */

	.ourApproach {
		padding: 70px 0 80px;
	}
	
	.ourApproach__title {
		font-size: 32px
	}

	.ourApproach__subtitle {
		font-size: 18px;
	}

	.ourApproach__subtitle::after {
		margin: 15px auto 35px;
		height: 3px;
	}


	/* ourWork */

	.ourWork {
		padding: 80px 0 100px;
	}

	.ourWork__title {
		font-size: 32px
	}

	.ourWork__subtitle {
		font-size: 18px;
	}

	.ourWork__subtitle::after {
		margin: 15px auto 35px;
		height: 3px;
	}


	/* freeConsultation */

	.freeConsultation {
		padding: 90px 0 100px;
	}

	.freeConsultation__title {
		font-size: 32px;
	}

	.freeConsultation__subtitle {
		font-size: 18px;
	}

	.freeConsultation__showForm {
		margin: 0 auto -10px;
	}

	.freeConsultation__closeForm {
		right: -12px;
	}

	.freeConsultation__text {
		padding: 40px 50px 40px;
		font-size: 14px;
	}

	.freeConsultation__formItem {
		padding: 15px 21px;
	}

	.freeConsultation__submit {
		margin-top: 28px;
		margin-bottom: 48px;
	}

	/* getInTouch */

	.getInTouch {
		padding: 70px 0 70px;
	}

	.getInTouch__title {
		font-size: 32px;
	}

	.getInTouch__wrapper {
		padding: 28px 35% 36px;
	}

	.getInTouch__form {
		padding: 20px;
	}

	/* footer */

	.footer__copyright {
		padding: 20px 0;
	}
}

/* ===КОНЕЦ СТИЛЕЙ ДЛЯ ПЛАНШЕТОВ LANDSCAPE=== */




/* ===СТИЛИ ДЛЯ ПЛАНШЕТОВ PORTRAIT=== */

@media(max-width: 770px) {

	/* header */

	.header__link, .header__circle {
		display: none;
	}

	.header__navToggle {
		display: inline-block;
	}

	/* aboutUs */

	.aboutUs__item {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.aboutUs__logoPic {
		width: 15%;
	}

	/* ourApproach */

	.ourApproach {
		padding: 70px 0 60px;
	}

	.ourApproach__item:nth-child(odd) .ourApproach__picture,
	.ourApproach__item:nth-child(even) .ourApproach__picture {
		float: none;
		width: 100%;
		padding: 12px 20% 0;
	}

	.ourApproach__photo {
		display: none;
	}

	.ourApproach__photoSmall {
		display: block;
	}

	.ourApproach__item:nth-child(odd) .ourApproach__description,
	.ourApproach__item:nth-child(even) .ourApproach__description {
		padding: 12px 0;
	}

	.ourApproach__header {
		text-align: center;
	}

	.ourApproach__text {
		text-align: justify;
		padding: 10px;
		padding-bottom: 10px;
	}

	/* ourWork */
	
	.ourWork {
		padding: 70px 0 80px;
	}

	.ourWork__item, .ourWork__photo {
		width: 50%;
	}

	.ourWork__item:nth-child(1) {
		order: 1;
	}

	.ourWork__photo:nth-child(2) {
		order: 2;
	}

	.ourWork__item:nth-child(3) {
		order: 4;
	}

	.ourWork__photo:nth-child(4) {
		order: 3;
	}	

	.ourWork__photo:nth-child(5) {
		order: 6;
	}

	.ourWork__item:nth-child(6) {
		order: 5;
	}

	.ourWork__photo:nth-child(7) {
		order: 7;
	}

	.ourWork__item:nth-child(8) {
		order: 8;
	} 

	.ourWork__logo {
		margin-bottom: 10px;
	}

	.ourWork__header {
		font-size: 24px;
	}

	.ourWork__text {
		font-size: 15px;
	}


	/* freeConsultation */

	.freeConsultation {
		padding: 70px 0 80px;
	}

	.freeConsultation__showForm {
		margin: 0 auto -20px;
	}

	.freeConsultation__closeForm {
		right:  -12px;
	}

	.freeConsultation__formField {
		width: 100%;
	}

	.freeConsultation__submit {
		margin-top: 25px;
		margin-bottom: 45px;
	}


	/* getInTouch */

	.getInTouch {
		padding: 60px 0 60px;
	}

	.getInTouch__wrapper {
		padding: 25px 30% 34px;
	}

}

/* ===КОНЕЦ СТИЛЕЙ ДЛЯ ПЛАНШЕТОВ PORTRAIT=== */




/* ===СТИЛИ ДЛЯ СМАРТФОНОВ=== */

@media(max-width: 575px) {

	.container {
		padding: 0 12px;
	}


	/* contacts */

	.contacts__item {
		padding: 0 10px;
	}

	.contacts__item:last-child {
		padding: 0;
	}


	/* header */

	.header__wrapper {
		height: 90px;
	}


	/* weProviding */

	.weProviding {
		height: 390px;
	}

	.weProviding__mainText {
		font-size: 32px;
	}

	.weProviding__subText {
		font-size: 18px;
	}

	.weProviding__freeConcultation {
		padding: 15px 32px;
		font-size: 18px;
	}


	/* aboutUs */

	.aboutUs {
		padding-top: 55px;
	}

	.aboutUs__header {
		margin-top: 18px;
		margin-bottom: 3px;
	}

	.aboutUs__text {
		margin-bottom: 50px;
	}


	/* ourApproach */

	.ourApproach {
		padding: 55px 0 40px;
	}

	.ourApproach__item:nth-child(odd) .ourApproach__picture, .ourApproach__item:nth-child(even) .ourApproach__picture {
		padding: 12px 10% 0;
	}

	.ourApproach__header {
		font-size: 15px;
	}

	/* .ourApproach__text {
		text-align: justify;
		padding: 10px;
	} */

	/* ourWork */

	.ourWork {
		padding: 50px 0 60px;
	}

	.ourWork__logo {
		font-size: 28px;
		margin-bottom: 5px;
	}

	.ourWork__header {
		font-size: 18px;
	}

	.ourWork__text {
		font-size: 14px;
	}
	
	/* freeConsultation */

	.freeConsultation {
		padding: 60px 0 60px;
	}

	.freeConsultation__showForm {
		width: 52px;
	}

	.freeConsultation__closeForm {
		right: -10px;
		top: -21px;
		width: 40px;
	}
	
	.freeConsultation__text {
		text-align: justify;
		padding: 30px 15px 30px;
	}

	.freeConsultation__formItem {
		width: 80%;
	}


	/* getInTouch */

	.getInTouch {
		padding: 60px 0 50px;
	}

	.getInTouch__wrapper {
		padding: 25px 10% 34px;
	}

	.getInTouch__subscribe {
		width: 90%
	}

	.getInTouch__subscribeButton {
		padding: 18px 50px;
	}


	/* footer */

	.footer__copyright {
		font-size: 12px;
	}
}

/* ===КОНЕЦ СТИЛЕЙ ДЛЯ СМАРТФОНОВ=== */
